<div class="pull-right">
  <%= link_to 'Create parking space', new_parking_space_path, class: 'btn btn-info' %>
  <%= link_to 'Request', user_requests_path(current_user), class: 'btn btn-success' %>
  <%= link_to 'Booking', user_bookings_path(current_user, @bookings), class: 'btn btn-warning' %>
</div><br />
<br />
<div class="well text-center">
  <h4>List of parking spaces</h4>
</div>
<table class="table table-striped tag-center">
  <tr>
    <th>Area No.</th>
    <th>Cost per hour</th>
    <th>Action</th>
  </tr>
  <% @parking_spaces.each do |parking_space| %>
    <tr>
      <td><%= parking_space.area_no %></td>
      <td><%= parking_space.cost_per_hour %></td>
      <td><%= link_to 'Destroy', parking_space_path(parking_space),
              method: :delete,
              data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-xs' %></td>
    </tr>
  <% end %>
</table>