<h1>parking Area</h1>
<%= form_for :parking_space , url: parking_spaces_path do |f| %>
  <p>
    <%= f.label :area_no %><br>
    <%= f.text_field :area_no %>
  </p>
 
  <p>
    <%= f.label :cost_per_hour %><br>
    <%= f.number_field :cost_per_hour %>
  </p>
    <%= f.hidden_field :available, :value => true %>

    <%= f.submit "save", class: 'btn btn-success' %>
    <%= link_to 'Back', root_path, class: 'btn btn-default' %>
  </p>
<% end %>