<h2 class="text-center">Book Parking Space</h2>
<div class="center_div">
  <%= form_for([current_user, current_user.requests.build]) do |f| %>
    <table class="table table-striped">
      <tr>
        <td>Name :</td><td><%= @parking_space.area_no %></td>
      </tr>
      <tr>
        <td>Cost per hour :</td><td><%= @parking_space.cost_per_hour %></td>
      </tr>
      <tr>
        <td>Select start time :</td><td><%= f.text_field :start_time, class: "datetimepicker", id: "date_timepicker_start" %></td>
      </tr>
      <tr>
        <td>Select end time :</td><td><%= f.text_field :end_time, class: "datetimepicker", id: "date_timepicker_end" %></td>
      </tr>
    </table>
    <%= f.hidden_field :parking_space_id, :value => @parking_space.id %>
    <%= f.hidden_field :approve, :value => false %>
    <%= f.submit 'Request', :class => 'btn btn-primary center-block' %>
  <% end %>
  <%= button_to 'back', root_path, class: 'btn btn-default center-block', method: :get %>
</div>

<script type="text/javascript">
  jQuery('.datetimepicker').datetimepicker({formatTime:'H',});

  jQuery(function(){
   jQuery('#date_timepicker_start').datetimepicker({
    onShow:function( ct ){
     this.setOptions({
      maxDate:jQuery('#date_timepicker_end').val()?jQuery('#date_timepicker_end').val():false
     })
    },
   });
   jQuery('#date_timepicker_end').datetimepicker({
    onShow:function( ct ){
     this.setOptions({
      minDate:jQuery('#date_timepicker_start').val()?jQuery('#date_timepicker_start').val():false
     })
    },
   });
  });
</script>