<h1>Show page</h1>
<div class="center_div">
  <%= form_for([current_user, current_user.bookings.build]) do |f| %>
  <%#= form_for :booking do |f| %>
    <table class="table">
      <tr>
        <td>Name :</td><td><%= @parking_space.area_no %></td>
      </tr>
      <tr>
        <td>Cost per hour :</td><td><%= @parking_space.cost_per_hour %></td>
      </tr>
      <tr>
        <td>Select start time</td><td><%= f.time_select :start_time, discard_minute: true %></td>
      </tr>
      <tr>
        <td>End Time</td><td><%= f.time_select :end_time, discard_minute: true %></td>
      </tr>
    </table>
    <%= f.hidden_field :parking_space_id, :value => @parking_space.id %>
    <%= f.submit 'Booking', :class => 'btn btn-primary center-block' %>
  <% end %>
</div>

<style type="text/css">
.center_div{
    margin: 0 auto;
    width:40% /* value of your choice which suits your alignment */
  }
</style>