<h1>Show page</h1>
<div class="center_div">
  <%= form_for([current_user, current_user.requests.build]) do |f| %>
    <table class="table">
      <tr>
        <td>Name :</td><td><%= @parking_space.area_no %></td>
      </tr>
      <tr>
        <td>Cost per hour :</td><td><%= @parking_space.cost_per_hour %></td>
      </tr>
      <tr>
        <td>Select start time</td><td><%= f.time_select :start_time, discard_minute: true %></td>
      </tr>
      <tr>
        <td>End Time</td><td><%= f.time_select :end_time, discard_minute: true %></td>
      </tr>
    </table>
    <%= f.hidden_field :parking_space_id, :value => @parking_space.id %>
    <%= f.hidden_field :approve, :value => false %>
    <%= f.submit 'Request', :class => 'btn btn-primary center-block' %>
  <% end %>
  <%= button_to 'back', root_path, class: 'btn btn-default center-block', method: :get %>
</div>