<table class="table table-striped tag-center">
  <tr>
    <th>Area No.</th>
    <th>Start Time</th>
    <th>End Time</th>
    <th>Total Cost</th>
    <th>Action</th>
  </tr>
  <% request.each do |request| %>
    <tr>
      <td><%= request.parking_space.area_no %></td>
      <td><%= request.start_time %></td>
      <td><%= request.end_time %></td>
      <td><%= request.total_cost %></td>
      <td><%= link_to 'Delete', cancel_request_path(request), method: :delete, class: 'btn btn-danger btn-xs'  %></td>
    </tr>
  <% end %>
</table>

