<% if current_user.role == true %> <!-- Admin -->
  <div class="row">
    <div class="pull-right">
      <%= link_to 'Parking Space', parking_spaces_path(current_user), class: 'btn btn-primary' %>
    </div>
  </div>
  <h2 class="text-center">List of request for parking spaces</h2>
  <%= render :partial => 'admin_request_index' %>
<% else %> <!-- User -->
  <div class="row">
    <div class="pull-right">
      <%= link_to 'Parking Space', parking_spaces_path(current_user), class: 'btn btn-primary' %>
      <%= link_to 'Booking', user_bookings_path(current_user, @bookings), class: 'btn btn-warning' %>
    </div>
  </div>
  <h2 class="text-center">List of approved request</h2>
  <% if @request_approve.any? %>
    <%= render :partial => 'approve_request_index', :locals => { request: @request_approve } %>
  <% else %>
    <hr /><h3 class="text-center">No Record Found.</h3><hr />  <% end %>
  <hr />
  <h2 class="text-center"">List of pending request</h2>
  <% if @request_hold.any? %>
    <%= render :partial => 'hold_request_index', :locals => { request: @request_hold }  %>
  <% else %>
    <hr /><h3 class="text-center">No Record Found.</h3><hr />
  <% end %>
<% end %>
<%= button_to 'back', root_path, class: 'btn btn-primary', method: :get %>

